<openerp>
  <data>
     <!-- Top menu item -->

    <menuitem name="Data Master" id="hs_menu_root_master"/>
        <!-- menu categories -->
        <menuitem name="Master" id="hs_menu_master" parent="hs_menu_root_master"/>
            <menuitem name="Data Provinsi" id="hs_menu_master_provinsi" parent="hs_menu_master" action="udhasman.hs_action_provinsi"/>
            <menuitem name="Data Kabupaten" id="hs_menu_master_kabupaten" parent="hs_menu_master" action="udhasman.hs_action_kabupaten"/>
            <menuitem name="Data Kecamatan" id="hs_menu_master_kecamatan" parent="hs_menu_master" action="udhasman.hs_action_kecamatan"/>
            <menuitem name="Data Lokasi Galian" id="hs_menu_master_lokasi_galian" parent="hs_menu_master" action="udhasman.hs_action_lokasi_galian"/>
            <menuitem name="Data Alat Berat" id="hs_menu_master_alat_berat" parent="hs_menu_master" action="udhasman.hs_action_alat_berat"/>
            <menuitem name="Data Armada" id="hs_menu_master_armada" parent="hs_menu_master" action="udhasman.hs_action_armada"/>
            <menuitem name="Data Karyawan" id="hs_menu_master_karyawan" parent="hs_menu_master" action="udhasman.hs_action_karyawan"/>
            <menuitem name="Data Product Unit" id="hs_menu_master_produk_unit" parent="hs_menu_master" action="udhasman.hs_action_product_unit"/>
            <menuitem name="Data Product" id="hs_menu_master_produk" parent="hs_menu_master" action="udhasman.hs_product_template_action"/>
            <menuitem name="Data Supplier" id="hs_menu_master_supplier" parent="hs_menu_master" action="udhasman.hs_action_partner_supplier_form"/>
            <menuitem name="Data Customer" id="hs_menu_master_customer" parent="hs_menu_master" action="udhasman.hs_action_partner_customer_form"/>
            <menuitem name="Data Pekerjaan" id="hs_menu_master_pekerjaan" parent="hs_menu_master" action="udhasman.hs_action_pekerjaan"/>

    <menuitem name="Purchases" id="hs_menu_root_purchase"/>
            <menuitem name="Purchase" id="hs_menu_purchase" parent="hs_menu_root_purchase" />
                <menuitem name="Purchase Orders" id="hs_menu_purchase_order" parent="hs_menu_purchase" action="udhasman.hs_purchase_form_action"/>
                <menuitem name="Supplier Bills" id="hs_menu_supplier_bill" parent="hs_menu_purchase" action="udhasman.hs_action_invoice_tree2"/>


    <menuitem name="Sales" id="hs_menu_root_sales"/>
            <menuitem name="Sales" id="hs_menu_sales" parent="hs_menu_root_sales" />
                <menuitem name="Sales Orders" id="hs_menu_sales_order" parent="hs_menu_sales" action="udhasman.hs_action_orders"/>
                <menuitem name="Customer Invoices" id="hs_menu_customer_invoices" parent="hs_menu_sales" action="udhasman.hs_action_invoice_tree1"/>

    <menuitem name="Finance" id="hs_menu_root_finance"/>
            <!-- <menuitem name="Armada" id="hs.menu_master_armada" parent="hs.menu_master" action="hs.action_armada"/> -->
            <!-- <menuitem name="Karyawan" id="hs.menu_master_karyawan" parent="hs.menu_master" action="hs.action_karyawan"/> -->
            <!-- <menuitem name="Satuan" id="hs.menu_master_satuan" parent="hs.menu_master" action="hs.action_satuan"/> -->
            <!-- <menuitem name="Supplier" id="hs.menu_master_supplier" parent="hs.menu_master" action="hs_action_partner_supplier_form"/> -->
            <!-- <menuitem name="Customer" id="hs.menu_master_customer" parent="hs.menu_master" action="hs_action_partner_customer_form"/> -->
            <!-- <menuitem name="Alat Berat" id="hs.menu_master_alat" parent="hs.menu_master" action="hs.action_alat"/> -->

    <!-- <menuitem name="Purchase" id="hs.menu_purchase" parent="hs.menu_root" /> -->
            <!-- <menuitem name="Request for Quotation" id="hs.menu_purchase_rfq" parent="hs.menu_purchase" action="purchase.purchase_form_action"/> -->
            <!-- <menuitem name="Purchase Orders" id="hs.menu_purchase_order" parent="hs.menu_purchase" action="hs_purchase_form_action"/> -->
            <!-- <menuitem name="Purchase Orders" id="hs.menu_purchase_order" parent="hs.menu_purchase" action="purchase.purchase_form_action"/> -->

    <!-- <menuitem name="Sales" id="hs.menu_sales" parent="hs.menu_root" /> -->
    <!-- <menuitem name="Setting" id="hs.menu_setting" parent="hs.menu_root" /> -->

    <!-- actions -->

    <!-- MASTER CHILD MENU -->



    <!-- Purchase Menu -->
    <!-- <menuitem name="Purchase Order" id="hs.menu_purchase_order" parent="hs.menu_purchase" action="hs.action_hs_purchase"/> -->

    <!-- <menuitem name="Sistem Setting" id="hs.menu_sistem_setting" parent="hs.menu_setting" action="action_appkonfig"/> -->

  </data>
</openerp>
